@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript-Regular.ttf');
}

body{
  background-color: #02010a;
  color: white;
  font-family: 'Dancing Script';
}


footer img {
  width: 25px !important;
  height: 25px!important;
  border-radius: 5px!important;

}

#Cabecera_index{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;

}

#Cabecera_index h1{
  text-shadow: 2px #02010a !important;
}

#contenido {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#imagenPrincipal{
  background-color: #82c3a6;
}

#imagenPrincipal img{
  margin: auto;
  width: 70%;
  padding: 10px;
}




#Imagen_secundaria{
  display: flex;
  flex-direction: row;
  background-color: #d5c75f;
  border: 1px;
}

#Imagen_secundaria img{
  width: 80%;
}

.Galeria{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  background-color: #d5c75f;

}

#contenido_galeria{
  margin-left: auto;
  margin-right: auto;
}


.imagen1{
  -webkit-filter:blur(10px);
  width: 25%;
  margin: 2%;
  order: 1;

}

.imagen2{
  -webkit-filter:grayscale(100%);
  width: 25%;
  margin: 2%;
  order: 2;
}

.imagen3{
  -webkit-filter:sepia(90%);
  width: 25%;
  margin: 2%;
  order: 3;
}

.imagen4{
  -webkit-filter:grayscale(100%);
  width: 25%;
  margin: 2%;
  order: 4;
}

.imagen5{
  width: 25%;
  margin: 2%;
  order: 5;
}

.imagen6{
  -webkit-filter:grayscale(100%);
  width: 25%;
  margin: 2%;
  order: 6;
}



#Imagen_secundaria img{
  margin : auto;
  padding: 5%;
}

a:visited{
  color: yellow;
}

a:hover{
  color: green;
}
