@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript-Regular.ttf');
}

@media (max-width: 900px) {

  #cabecera{
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;

  }
  #Imagen_secundaria{
    display: flex;
    flex-direction: column;
    background-color: #d5c75f;
    border: 1px;
    padding: 5%;
  }
  .Galeria{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    background-color: #d5c75f;

  }
  #pie_de_pagina{
    display: flex;
    flex-flow: column wrap;
    border-radius: 0 0 10px 10px;
    background-color: #c6d5c5;
  }
  #contenido {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .imagen1{
    -webkit-filter:blur(10px);
    width: 90%;
    margin: 2%;
    order: 1;

  }

  .imagen2{
    -webkit-filter:grayscale(100%);
    width: 90%;
    margin: 2%;
    order: 2;
  }

  .imagen3{
    -webkit-filter:sepia(90%);
    width: 90%;
    margin: 2%;
    order: 3;
  }

  .imagen4{
    -webkit-filter:grayscale(100%);
    width: 90%;
    margin: 2%;
    order: 4;
  }

  .imagen5{
    width: 90%;
    margin: 2%;
    order: 5;
  }

  .imagen6{
    -webkit-filter:grayscale(100%);
    width: 90%;
    margin: 2%;
    order: 6;
  }

  #Imagen_secundaria .retratopri{
    width: 90%;
    margin: auto;

  }
  #Imagen_secundaria .paisajepri{
    width: 100%;
    margin: 2%;

  }


}

@media (min-width: 900px) {
  #cabecera{
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
  }

  #Imagen_secundaria{
    display: flex;
    flex-direction: row;
    background-color: #d5c75f;
    border: 1px;
    padding: 5%;
  }
  .Galeria{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    background-color: #d5c75f;

  }
  #pie_de_pagina{
    display: flex;
    flex-flow: row wrap;
    border-radius: 0 0 10px 10px;
    background-color: #c6d5c5;
  }
  #contenido {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .imagen1{
    -webkit-filter:blur(10px);
    width: 25%;
    margin: 2%;
    order: 1;

  }

  .imagen2{
    -webkit-filter:grayscale(100%);
    width: 25%;
    margin: 2%;
    order: 2;
  }

  .imagen3{
    -webkit-filter:sepia(90%);
    width: 25%;
    margin: 2%;
    order: 3;
  }

  .imagen4{
    -webkit-filter:grayscale(100%);
    width: 25%;
    margin: 2%;
    order: 4;
  }

  .imagen5{
    width: 25%;
    margin: 2%;
    order: 5;
  }

  .imagen6{
    -webkit-filter:grayscale(100%);
    width: 25%;
    margin: 2%;
    order: 6;
  }

}

@-webkit-keyframes mianimacion{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

body{
  background-color: #02010a;
  color: white;
  font-family: 'Dancing Script';
}
  footer img {
  width: 25px !important;
  height: 25px!important;
  border-radius: 5px!important;

}

#cabecera{
  animation: mianimacion 3s;
}

img{
  box-shadow: 2px 2px #02010a;
}

#Cabecera_index h1{
  text-shadow: 2px 2px #02010a;
  text-align: center;
}

#navegador{
  display: flex;
  flex-direction: row;
  text-align: center;
}

#navegador *{
  padding: 2%;
}

#titulo{
  text-shadow: 2px #02010a !important;
  float: left;
}

#imagenPrincipal{
  background-color: #82c3a6;
  padding: 5%;
}

#imagenPrincipal img{
  margin: auto;
  width: 70%;
}


#Imagen_secundaria .paisajepri{
  width: 70%;
  margin: auto;

}

.retratopri:hover{
  transform: translateX(20px) translateY(-5px);
  box-shadow: 2px 2px #82c3a6;
}

.paisajepri:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
}


#contenido_galeria{
  margin-left: auto;
  margin-right: auto;
}

#pie_de_pagina *{
    flex-basis: 25%;
}

#pie_de_pagina{
  color: black !important;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 5%;
}

a{
  color: white;
}

a:hover{
  color: green;
}
